.question__answers{
    display: flex;
    gap: 1em;
}

.questionsList__questions{
    display: flex;
    gap: 0.5em;
    flex-direction: column;
}
button{
    border-radius: 10px;
    border-width: 1px;
    padding: 0.5em 1em;
    background-color: white;
    
}
.selected button{
  background-color: lightblue;
}
